@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-9">
            <div class="well well-lg offer-box text-center">
                Today's Offer : &nbsp; <span class="glyphicon glyphicon-cog"></span>&nbsp;40 % off  on purchase of $ 2,000 and above till 24 Jun !
            </div>
            <div class="main box-border">
                <div id="mi-slider" class="mi-slider">

                    @foreach (var j in Model.Categories)
                    {
                        int dem = 0;
                        if (j.Ranking < 5)
                        {
                            <ul>
                                @foreach (var u in Model.Products)
                                {
                                    if (dem < 4)
                                    {
                                        if (j.CategoryID == u.CategoryID)
                                        {
                                            dem++;
                                            <li>
                                                <a href="#">
                                                    <img src="@Url.Content(u.Img)" alt="@u.Name"><h5>@u.Name</h5>
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        }
                    }
                    <nav>
                        @foreach (var i in Model.Categories)
                        {
                            if (i.Ranking < 5)
                            {
                                <a href="#">@i.Name</a>
                            }

                        }
                    </nav>
                </div>

            </div>
            <br />
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            @{
                int bs = 0;
                foreach (var item in Model.Products)
                {
                    if (bs < 1)
                    {
                        if (item.Ranking == 0)
                        {
                            <div class=" text-center">
                                <div class="offer-text2">
                                    HOT
                                </div>
                                <div class="thumbnail product-box">
                                    <img src="@item.Img" alt="" />
                                    <div class="caption">
                                        <h5><a href="#">@item.Name </a></h5>                                        
                                        <h5><strong>$@item.Price</strong></h5>
                                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                                    </div>
                                </div>
                                <!-- /.div -->
                                <!-- /.div -->

                            </div>
                            <div class=" text-center">
                                <div class="well well-lg offer-box offer-colors">
                                    
                                    <span class="glyphicon glyphicon-star-empty"></span>25 % off  , GRAB IT
                                    <br />
                                    <br />
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 70%">
                                            <span class="sr-only">70% Complete (success)</span>
                                            2hr 35 mins left
                                        </div>
                                    </div>
                                    <a href="#">Click here to know more </a>
                                    
                                    <br />
                                </div>
                            </div>
                            bs++;
                        }
                    }

                }
            }



        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="#" class="list-group-item active"><strong>CATEGORY</strong></a>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a style="text-transform: uppercase" href="/Products/ViewAll">View All</a>
                    </li>
                    @foreach (var item in Model.Categories)
                    {
                        <li class="list-group-item">
                            <a style="text-transform: uppercase" href="#">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>

            <!-- /.div -->
            <div class="text-center">
                @{
                    int ad = 0;
                    foreach (var item in Model.Products)
                    {
                        if (ad < 2)
                        {
                            if (item.Ranking == -1)
                            {
                                <div>
                                    <div class="offer-text2">
                                        HOT
                                    </div>
                                    <div class="thumbnail product-box">
                                        <img src="@item.Img" alt="" />
                                        <div class="caption">
                                            <h5><a href="#">@item.Name </a></h5>
                                            <h5><strong>$@item.Price</strong></h5>
                                            <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                                        </div>
                                    </div>
                                    <!-- /.div -->


                                </div>

                                ad++;
                            }
                        }

                    }
                }

            </div>
            <!-- /.div -->

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Products</li>
                </ol>
            </div>
            <div class="row">
                <div class="btn-group alg-right-pad">
                    <button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            Sort Products &nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">By Price Low</a></li>
                            <li class="divider"></li>
                            <li><a href="#">By Price High</a></li>
                            <li class="divider"></li>
                            <li><a href="#">By Popularity</a></li>
                            <li class="divider"></li>
                            <li><a href="#">By Reviews</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                @{
                    int pd = 0;
                    foreach (var i in Model.Products)
                    {
                        if (pd < 9)
                        {
                            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                                <div class="thumbnail product-box">
                                    <img src="@i.Img" alt="" />
                                    <div class="caption">
                                        <h5><a href="#">@i.Name </a></h5>
                                        <h5><strong>$@i.Price</strong>  </h5>
                                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                                    </div>
                                </div>
                            </div>
                            pd++;
                        }

                    }
                }


                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div  class="text-center">
                    <a href="Products/ViewAll" class="btn btn-danger btn-lg" role="button">VIEW ALL</a>
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
