@model LIDER.ViewModels.ManageView

@{
    ViewBag.Title = "Edit Products";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h2>EDIT PRODUCTS</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProdDetails.ProductID)


        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ProdDetails.Name, new { htmlAttributes = new { @class = "form-control " } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ProdDetails.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Img, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdDetails.Img, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdDetails.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Meta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdDetails.Meta, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ProdDetails.Size, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ProdDetails.Color, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Hide, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox disabled">
                    @Html.EditorFor(model => model.ProdDetails.Hide)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Ranking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.ProdDetails.Ranking, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDetails.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.ProdDetails.CategoryID, new SelectList(Model.Categories, "CategoryID", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProdDetails.CategoryID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="/Products/ManageProducts" class="btn btn-primary" role="button">Back To List</a>
            </div>
        </div>
    </div>
}
