@model LIDER.ViewModels.ManageView

@{
    ViewBag.Title = "Manage Products";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>
    MANAGE PRODUCTS
</h2>

<p>@Html.ActionLink("Create New", "CreateProducts")</p>



<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th>
            Size
        </th>
        <th>
            Color
        </th>
        <th>
            Hide
        </th>
        <th>
            Ranking
        </th>
        <th>
            Categories
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ManageProd)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="width:30%">

                <img style="width:40%" src="@Url.Content(item.Img)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProducts", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "DetailsProducts", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "DeleteProducts", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
